.checkout_page {
  padding: 20px;
}

.empty__bakset {
  display: flex;
  padding: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.empty__bakset svg {
  width: 150px;
  height: 150px;
  fill: lightsalmon;
  margin-right: 10px;
}

.checkout {
  display: flex;
  flex-direction: row;
  height: max-content;
  margin-top: 10px;
}

.checkout__left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 15px;
}

.checkout__cartItemContainer {
  padding: 20px;
  background-color: white;
}
